<%- include('layout', { body: `
  <!-- Background Orbs -->
  <div class="bg-orb bg-orb-1"></div>
  <div class="bg-orb bg-orb-2"></div>

  <!-- Header -->
  <app-header></app-header>

  <!-- Main Content -->
  <main class="page-container pt-6 pb-20" role="main">
    <item-detail item-data='${item}'></item-detail>
  </main>
` }) %>
